.page-header
  %h1 Teams

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Name

  = content_tag_for :tr, @teams do |team|
    %td= link_to team.name, team

%br

= link_to 'New Team', new_team_path
