#claim_identity_intro
  .modal-header
    %h3
      Get Your Geek Cred!
  .modal-body
    It looks like you are using a different email address for your account on Rubygems.
    Please fill in your Rubygems account name below and we will send a confirmation email to the email address associated with your Rubygems account.
    %p.well
      %label
        Rubygems Handle
        = text_field_tag :user_handle
      #claim-identity.a.btn.btn-primary{ :url => github_user_request_identity_path(@github_user) }
        It's mine!
