.modal
  .modal-header
    %button.close{ :type => 'button', :'data-dismiss' => 'modal' }
      x
    %h3
      Your Mission Begins....
  .modal-body
    %p
      We've send mail to the address registered with your Rubygems account. 
      Your mission, should you choose to accept it, is to follow the instructions in that mail and
      update your coderwall account name. You have two hours to complete this mission.
  .modal-footer
    %a.btn{ :href => '#', :'data-dismiss' => 'modal' }
      Close
