- if flash[:notice].present?
  .alert.alert-success.flash{ data: {dismiss: "alert"} }
    %strong Success!
    = flash[:notice]
- if flash[:alert].present?
  .alert.alert-error.flash{ data: { dismiss: "alert" } }
    %strong Error!
    = flash[:alert]
